@tailwind base;
@tailwind components;
@tailwind utilities;
@layer{
 .-z-1{
    z-index: -1;
 }
 .height{
    height: 90vh;
 }
 .heightNav{
    height: 10vh;
 }
}
.h1Me{
   @apply text-5xl md:text-4xl lg:text-5xl font-bold
}

.button{
    @apply  rounded-3xl text-white py-2.5 px-6
}
.nav-bar {
    @apply flex justify-between items-center w-11/12 m-auto py-4 heightNav
}
.flex1{
    @apply flex items-center
}
.navLinks-pc{
    @apply hidden md:flex items-center gap-4 
}
.navbarLogo{
    @apply font-bold text-3xl
}
.themeDiv{
    @apply p-1 border-2 border-orange rounded-3xl
}
.icon{
    @apply text-orange cursor-pointer
}
.contact-pc{
    @apply hidden md:block

}
.mobile-links{
    @apply block md:hidden
}
.blur{
    @apply hidden md:block absolute w-96 h-56 rounded-3xl	bg-blur bottom-10 -left-20 -z-1 blur-3xl	
}
.blur2{
    @apply hidden md:block absolute w-80 h-44 -bottom-8 right-72 bg-blur2 rounded-3xl blur-3xl	-z-1
}
.card{
    @apply shadow-md border-4 w-52 py-4 px-4  rounded-2xl
}
.workCircle{
    @apply border-4  w-40 h-40 rounded-full cursor-pointer flex items-center justify-center
}
